core/src/main/resources/types/advertiseJobResponse.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:job="http://djavorek.uni.hu/job"
           xmlns:tns="http://djavorek.uni.hu/advertiseJobRequest"
           targetNamespace="http://djavorek.uni.hu/advertiseJobRequest">

    <xs:import namespace="http://djavorek.uni.hu/job" schemaLocation="job.xsd"/>

    <xs:complexType name="advertiseJobResponse">
        <xs:sequence>
            <xs:element name="model" type="job:job"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="response" type="tns:advertiseJobResponse"/>

</xs:schema>