controller/src/main/resources/types/applicationFilter.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema targetNamespace="http://djavorek.uni.hu/applicationFilter"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="applicationFilter">
        <xs:sequence>
            <xs:element name="applicationId" type="xs:string"/>
            <xs:element name="jobId" type="xs:string"/>
            <xs:element name="createdBefore" type="xs:dateTime"/>
            <xs:element name="createdAfter" type="xs:dateTime"/>
            <xs:element name="hasComment" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>