controller/src/main/resources/types/applicant.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema targetNamespace="http://djavorek.uni.hu/applicant"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="applicant">
        <xs:sequence>
            <xs:element name="firstname" type="xs:string"/>
            <xs:element name="lastname" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="phonenumber" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>


</xs:schema>